<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>


<p>
  <strong>Level:</strong>
  <%= @monster.level %>
</p>


<p>
  <strong>Attack:</strong>
  <%= @monster.attack %>
</p>


<p>
  <strong>Defence:</strong>
  <%= @monster.defence %>
</p>


<p>
  <strong>Health:</strong>
  <%= @monster.health %>
</p>


<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
