<h1> Welcome, <%= @user.user_name %> </h1>

<h2> Your stats: </h2>
<ul>

  <li> Level: <%= @user.user_level %> </li>
  <li> Exp: <%= @user.experience %> / 25 </li>
    <li> Health: <%= @user.health %> / 100</li>
  <li> Attack: <%= @user.attack %> </li>
  <li> Defence: <%= @user.defence %> </li>
</ul>
