<div class = "container">
  <h1> Welcome, <%= @user.user_name %> </h1>
</div>
<h2> Your stats: </h2>
<ul>

  <li> Level: <%= @user.user_level %> </li>
  <li> Exp: <%= @user.xp %> / <%= (10 + @user.user_level) * 10 %></li>
    <li> Gold: <%= @user.gold %> </li>
    <li> Health: <%= @user.health %> / 100</li>
  <li> Attack: <%= @user.attack %> </li>
  <li> Defence: <%= @user.defence %> </li>
</ul>
