<!DOCTYPE html>
<html>
  <head>
    <title>DungeonGame</title>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
<table>
<tr>
  <td> <strong> Name: </strong><%= @user.user_name %>    </td>
  <td> <strong> Gold: </strong><%= @user.gold %> </td>
  <td> <strong> Attack:</strong> <%= @user.attack %> </td>
</tr>
<tr>
  <td> <strong> Level:</strong> <%= @user.user_level %> </td>
  <td> </td>
  <td> <strong> Defence:</strong><%= @user.defence %> </td>
</tr>
<tr>
  <td> <strong> Exp: </strong> <%= @user.xp %> </td>
  <td> </td>
  <td> <strong> Health: </strong> <%= @user.health %></td>
</tr>
</table>
<li>
  <%= link_to('Map', root_path) %>
</li>
<li>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>
</li>
<% end %>


    <%= yield %>

  </body>
</html>
