<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<h2> User Details </h2>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<h2> Character Details </h2>
  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :user_level %>
      <%= f.text_field :user_level, :readonly => true, :value => 1 %>
  </div>

  <div class="field">
    <%= f.label :attack %>
      <%= f.text_field :attack, :readonly => true, :value => 10 %>
  </div>

  <div class="field">
    <%= f.label :defence %>
      <%= f.text_field :defence, :readonly => true, :value => 10 %>
  </div>

  <div class="field">
    <%= f.label :accuracy %>
      <%= f.text_field :accuracy, :readonly => true, :value =>50 %>
  </div>
  <div class="field">
    <%= f.label :evasion %>
      <%= f.text_field :evasion, :readonly => true, :value => 1 %>
  </div>
  <div class="field">
    <%= f.label :defence %>
      <%= f.text_field :defence, :readonly => true, :value => 10 %>
  </div>

  <div class="field">
    <%= f.label :health %>
      <%= f.text_field :health, :readonly => true, :value => 100 %>
  </div>

  <div class="field">
    <%= f.label :gold %>
      <%= f.text_field :gold, :readonly => true, :value => 0 %>
  </div>

  <div class="field">
    <%= f.label :xp %>
      <%= f.text_field :xp, :readonly => true, :value => 0 %>
  </div>
<h2> Gear Details </h2>
<div class="field">
  <%= f.label :sword %>
    <%= f.text_field :sword, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :spellbook %>
    <%= f.text_field :spellbook, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :helmet %>
    <%= f.text_field :helmet, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :shoulders %>
    <%= f.text_field :shoulders, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :gloves %>
    <%= f.text_field :gloves, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :chest %>
    <%= f.text_field :chest, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :legs %>
    <%= f.text_field :legs, :readonly => true, :value => 1 %>
</div>
<div class="field">
  <%= f.label :boots %>
    <%= f.text_field :boots, :readonly => true, :value => 1 %>
</div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
